<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        .pagina{
        margin: auto;
        text-align: center;
        color: rgb(242, 234, 234);
        height: 200px;
        width: 500px;
        background-color: rgb(48, 100, 190);
        }
        .pagina h1{
            margin-top: 30%;
        }
    </style>
</head>
<body>
<div class="pagina">
    <h1> Desenvolvimento Java</h1>

</div>

</body>
</html>